<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Автомобили{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/cars.css' %}">
</head>
<body>
<header class="site-header">
    <nav class="navigation">
        <ul class="nav">
            <li><a href="/">Главная</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'car_create' %}">Добавить автомобиль</a></li>
                <li>
                    <form class="logout" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <a href="#" onclick="parentNode.submit();">Log Out</a>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
                <li><a href="{% url 'signup' %}">Регистрация</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>