body {
    font-family: Arial;
    margin: 0;
}

a {
    text-decoration: none
}

.site-header {
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
}

.site-identity h1 {
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
}


.navigation ul,
.navigation li {
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}

div.car-card {
    border: 2px solid black;
}

.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
}

.car-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 300px;
    position: relative;
    transition: box-shadow 0.3s;

}

.car-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.car-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin: 10px 0;
    word-wrap: break-word;
    white-space: normal;
    text-overflow: ellipsis;
}
